body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Sujuv animatsioon */
}

/* Hiire üle nupp */
button:hover {
    transform: scale(1.1); /* Suurendab nuppu 10% võrra */
}

.heart {
    width: 100px;
    height: 100px;
    background-color: #ffdddd
;
    position: relative;
    transform: rotate(45deg);
    margin-top: 50px;
}

.heart:before, .heart:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ffdddd;
    border-radius: 50%;
}

.heart:before {
    left: 0;
    top: -50px;
}

.heart:after {
    top: 0;
    left: 50px;
}

body {
    background-image: url('heart.png');
    background-size: cover;
    background-repeat: no-repeat;
}